<div style="display: flex; gap: 20px; padding: 1px 20px 20px;justify-content: space-between;">


  <div id="main1" style="flex: 1; padding: 20px 10px 0px; position: relative;
  background-color: white; border-radius: 0.5rem; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  width: 25%; height: 100px; display: flex; justify-content: space-between; ">

    <div style="display: flex; flex-direction: column; align-items: flex-start;">
      <div style="font-size: small; padding-top: 5px; padding-left: 10px;">Available Tickets</div>
      <div style="font-size: x-large; font-weight: bold; padding-top:
      8px;padding-left: 10px;">{{availableTickets}}</div>
    </div>


    <div style="padding-top: 14px; padding-right: 17px;">
      <i class="pi pi-ticket" style="font-size: 2rem"></i>
    </div>
  </div>



  <div id="main2" style="flex: 1; padding: 20px 10px 0px; position: relative;
  background-color: white; border-radius: 0.5rem; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  width: 25%; height: 100px; display: flex; justify-content: space-between; ">

    <div style="display: flex; flex-direction: column; align-items: flex-start;">
      <div style="font-size: small; padding-top: 5px; padding-left: 10px;">Added Tickets</div>
      <div style="font-size: x-large; font-weight: bold; padding-top: 8px;
      padding-left: 10px;">{{ addedTickets }}</div>
    </div>


    <div style="padding-top: 14px; padding-right: 17px;">
      <i class="pi pi-cart-plus" style="font-size: 2rem"></i>
    </div>
  </div>



  <div id="main3" style="flex: 1; padding: 20px 10px 0px; position: relative;
  background-color: white; border-radius: 0.5rem; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  width: 25%; height: 100px; display: flex; justify-content: space-between; ">

    <div style="display: flex; flex-direction: column; align-items: flex-start;">
      <div style="font-size: small; padding-top: 5px; padding-left: 10px;">Purchased Tickets</div>
      <div style="font-size: x-large; font-weight: bold; padding-top: 8px;
      padding-left: 10px;">{{ purchasedTickets }}</div>
    </div>


    <div style="padding-top: 14px; padding-right: 17px;">
      <i class="pi pi-cart-minus" style="font-size: 2rem"></i>
    </div>
  </div>

</div>
